<tr>
  <td> <%= product.name %> </td>
  <td> <%= product.serial_number %> </td>
  <td> <%= product.category.name %> </td>
  <td> <%= product.provider.name %> </td>
  <td> <%= product.amount %> </td>
  <td>
    <div class="d-flex gap-2">

      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:12px">
          Opciones
        </a>

        <ul class="dropdown-menu">
          <%= link_to "Ver más", product_path(product) ,class:'dropdown-item' %>
          <%= link_to "Cambiar stock", stock_product_path(product), class:'dropdown-item' %>
          <%= link_to "Actualizar Producto", edit_product_path(product), class:'dropdown-item', data:{controller:'new-modal'} %>
        </ul>
      </div>
    </div>
  </td>
</tr>